# Final Take-Home Assignment - Data Analysis and Quantitative Trading (2023-24)

**This is an individual assignment. It has been solved by:** 

|     Name       | Student number    | Email           |
| :------------: | :---------------: | :-------------: | 
| [name] |       [student number]    |    [email]      |

Please fill your credentials in the table above by double clicking on the text and replacing the current text in brackets by your own name, student number and email. 

By submitting this assignment you consent to the University's rules regarding plagiarism and cheating. In particular, sharing code with any students outside your group is strictly prohibited. AI tools such as ChatGPT can be used to obtain reference information (e.g., you can ask ChatGPT questions about how a command works). However you are forbidden from entering any of the assignment questions as a prompt into an AI tool, or submitted text generated by an AI tool as part of the assignment solution. Any suspected instances will be reported to the Board of Examiners.

In addition to submitting the filled-out Jupyter Notebook and output files, each student must submit a recording that explains the coding process. In the recording, you should first explain in your own words how you plan to execute certain substeps, without referring to the code. Then, you should review the key steps of the code (you do not need to review basic commands that we have applied frequently throughout the class). Students should review the following substeps in the recordings:
- Students with an SIS ID that ends in an odd number should review **Steps 2(d), 2(e), 2(j)**, and **3(d)**. 
- Students with an SIS ID that ends in an odd number should review **Steps 2(f), 2(g), 2(j)**, and **3(c)**. 

If you do not manage to finish all of the subsets, then review the steps that you did complete.

## Step 1. Deciding how to Close out the Basis Trade

**Objective:** The CDS-Bond Basis formula establishes the true CDS spread, relative to the coupon rate of a 5-year corporate bond trading at par value. Quantitative trading funds can compare this true spread to the market CDS spread, to decide whether to engage in an arbitrage trade. While this decision is relatively straightforward, the decision of when and how to close the arbitrage trade is more complicated, with no clear theoretical guidance.

In this step, you will demonstrate your understanding of the process and challenges faced when closing out a CDS-Bond Basis arbitrage trade. No programming is required for this step. 

**Getting Started**: To complete this part, you should review the slides for lectures 2 and 3. You do not need any data files.

**To Complete:**
- Fill in all answer boxes

**Step 1(a)**     
Consider the example on lecture slides 15 and 17, which uses a simple version of the CDS-Bond Basis with market CDS spread of 3.25%. Suppose that a 5-year bond and 5-year CDS (described on slide 15) are both issued on April 1, 2022. On May 1, the CDS spread is 3.25% and you open an arbitrage trade. On May 15 the CDS spread rises to 3.57%. 

Suppose you choose to close out the basis trade on May 15. Explain the process and the total profit that you would receive. (Assume that spreads on all CDS contracts must be paid annually, at the end of each year that the CDS is outstanding. Thus an investor who buys a CDS on January 1, 2022 must make the first spread payment on December 31, 2022, and an investor who writes the same CDS receives the first spread payment on that date.)

<div class="alert alert-block alert-warning">
Click on this box and type your answer. 
</div>

**Step 1(b)**     
A researcher within your fund documents that CDS spreads display significant momentum---when CDS spreads rise for two weeks, then on average they tend to continue rising at a similar rate for the next two weeks. Explain the potential benefit of keeping the arbitrage trade from **Step 1(a)** open, as well as the potential risks.

<div class="alert alert-block alert-warning">
Click on this box and type your answer. 
</div>

**Step 1(c)**     
Suppose that keeping the trade open in **Step 1(b)** requires the fund to place \\$100 of its own cash into a margin account. The cash earns a 0\% rate of return while the trade is open. Consider two possibilities for what the fund can do with its \\$100 cash, if it does not place it in the margin account:
- On May 15, your fund identifies another arbitrage opportunity, that over the next two weeks should generate a return of \\$300 for each \\$100 of own funds invested. The fund cannot invest in this trade if it place \\$100 cash in the margin account.
- On May 15, the fund does not have any other arbitrage opportunity available. Its best available option is to buy risk-free U.S. Treasury bonds, which would earn interest of \\$0.5 for each \\$100 of own funds invested.

Explain how the different scenarios affect the fund's decision of whether to close the CDS-Bond Basis arbitrage trade or keep it open for two weeks.

<div class="alert alert-block alert-warning">
Click on this box and type your answer. 
</div>

**Step 1(d)**     
Re-consider the example from **Step 1(a)**. Suppose that the market CDS spread ranges from 3.2% to 3.4% throughout the year, but then rises to 3.7% on May 15, 2023. If you close the trade using another 5-year CDS contract, what risk is your fund exposed to?

<div class="alert alert-block alert-warning">
Click on this box and type your answer. 
</div>

## Step 2. Testing Whether Intangible Assets are Mispriced by the Market

**Objective:** A common way for quantitative trading firms to identify mispriced stocks is to first propose a variable that theoretically may be related to stock mispricing, then sort firms into portfolios based on levels of that variable, and then examine whether the portfolios historically earned higher returns than expected (based on a reasonable benchmark such as the Fama-French 3-Factor model).  

In this step, you will test whether firms with high amounts of intangible assets are mispriced by investors. Intangibles are non-physical assets that create value for the firm. Prominent examples include software, patents, recognizable brands, a strong organizational culture, and data-driven logistics. Academic research shows that intangibles have significantly grown in value over time. However, financial statements largely do not recognize the value of intangibles, in part because they are much harder to measure than tangible assets. Thus, it is feasible that investors do not correctly calculate the price of firms that rely heavily on intangibles.

**Getting Started**: To complete this part, you will need these files:
- intangible_capital.txt, which contains annual data on two different types of intangible assets. It covers the years 1970--2019.
- compustat_data_final.txt, which is similar to the previous Compustat dataset, but it now contains each firm's stock price and covers the years 1980--2019.
- crsp_data_final.txt, which is similar to the previous CRSP dataset but now covers 1980--2019. 
- factor_data.txt, which is the same file as used previously.

**To Complete:**
- Fill in all code boxes
- Fill in all answer boxes and tables below.
- Submit the output files created in **Step 2(j)**.

**Step 2(a)**     
Read only the introduction to the paper "The History of the Cross-Section of Stock
Returns" by Juhani Linnainmaa and Michael Roberts, which was published in 2018 in the *Review of Financial Studies* volume 7. Briefly describe what the paper finds about most stock price anomalies identified by academic research (an anomaly is a potential examples of stock mispricing). Also, describe whether the paper finds any evidence that intangible assets may be mispriced.

<div class="alert alert-block alert-warning">
Click on this box and type your interpretation of the table. 
</div>

**Step 2(b)**     
Load intangible_capital.txt into a data frame. Also load compustat_data_final.txt into a separate date frame. Remove two sets of firms from this data frame: 1) Financial and utilities firms; 2) Firms that are incorporated outside the United States. (**NOTE:** We have not previously used a variable for country of incorporation, so you need to browse through compustat_data_final.txt to find the variable. Pandas Notebook Lecture 3 contains some commands for browsing data frames.)

Next, merge the two data frames. Choose whether to keep observations that are in both data frames OR to keep observations that are in both data frames and also observations that are in only in intangible_capital.txt. Explain your choice briefly in a comment in your code.

In [1]:
## ENTER YOUR CODE IN THIS BOX


import pandas as pd

# Load intangible_capital.txt into a data frame
intangible_df = pd.read_csv("C:/Users/yachi/final/Data/intangible_capital.txt", sep='\t')

# Load compustat_data_final.txt into a separate data frame
compustat_df = pd.read_csv('C:/Users/yachi/final/Data/compustat_data_final.txt', sep='\t')

# Remove Financial and utilities firms
compustat_df = compustat_df[~compustat_df['fic'].isin(['FIN', 'UTIL'])]

# Remove Firms that are incorporated outside the United States
compustat_df = compustat_df[compustat_df['fic'] == 'USA']


# Merge the two data frames
# Choose to keep observations that are in both data frames
merged_df = pd.merge(intangible_df, compustat_df, how='inner', left_on=['gvkey', 'datadate'], right_on=['gvkey', 'datadate'])

# Display the merged data frame
merged_df.head()

,gvkey,datadate,knowledge_capital,organizational_capital,company_name,total_assets,capital_expenditures,shares_outstanding,net_income,sales_revenue,book_equity,r_and_d_investment,fic,stock_price,sic_industry_code,total_debt
0,1001,19831231,0.0,11.318640,A & M FOOD SERVICES INC,14.080,3.367,3.568,1.135,25.395,7.823,0.0,USA,7.250,5812,4.864
1,1001,19841231,0.0,15.638850,A & M FOOD SERVICES INC,16.267,5.496,3.568,1.138,32.007,8.962,NaN,USA,3.750,5812,4.778
2,1001,19851231,0.0,22.858800,A & M FOOD SERVICES INC,39.495,2.006,3.988,2.576,53.798,13.014,0.0,USA,10.125,5812,20.244
3,1003,19831231,0.0,2.294512,A.A. IMPORTING CO INC,8.529,0.146,2.683,1.050,13.793,6.095,NaN,USA,5.250,5712,1.200
4,1003,19841231,0.0,3.119993,A.A. IMPORTING CO INC,8.241,0.302,2.683,0.387,13.829,6.482,NaN,USA,2.750,5712,0.950

In [ ]:
merged_df.to_csv('output_step2b.txt',sep='\t',index=False)

In [ ]:
# Display the column names in intangible_df
print("Columns in intangible_df:", intangible_df.columns)

# Display the column names in compustat_df
print("Columns in compustat_df:", compustat_df.columns)

**Step 2(c)**     
A commonly used measure of intangible assets is the ratio (knowledge_capital + organizational_capital)/total_assets. Calculate this ratio for each observation in the sample. Also calculate the market capitalization for each observation.

In [2]:


# Calculate the intangible assets ratio
intangible_df['intangible_assets_ratio'] = (intangible_df['knowledge_capital'] + intangible_df['organizational_capital']) / compustat_df['total_assets']

# Calculate market capitalization
compustat_df['market_cap'] = compustat_df['stock_price'] * compustat_df['shares_outstanding']



# Merge the two data frames
# Choose to keep observations that are in both data frames
step2c_df = pd.merge(intangible_df, compustat_df, how='inner', on=['gvkey', 'datadate'])

# Display the resulting data frame with intangible assets ratio and market capitalization
result_df = step2c_df[['gvkey', 'datadate', 'company_name', 'intangible_assets_ratio', 'market_cap']]
result_df.head()

,gvkey,datadate,company_name,intangible_assets_ratio,market_cap
0,1001,19831231,A & M FOOD SERVICES INC,1.740794,25.86800
1,1001,19841231,A & M FOOD SERVICES INC,3.106028,13.38000
2,1001,19851231,A & M FOOD SERVICES INC,4.588278,40.37850
3,1003,19831231,A.A. IMPORTING CO INC,0.134394,14.08575
4,1003,19841231,A.A. IMPORTING CO INC,0.124900,7.37825

In [ ]:
result_df.to_csv('output_step2c.txt',sep='\t',index=False)

**Step 2(d)**    
Create a new 'year' column in the data frame, by extracting the year from the 'datadate' column. Note that this value represents the calendar year in which the firm reported its financial information.  

Next, for each year, calculate the quintiles of the intangibles ratio (i.e., the 20$^{th}$, 40$^{th}$, 60$^{th}$, and 80$^{th}$ percentiles of the intangibles ratio in each year). Separately for each year, calculate the quintiles of market capitalization. Create a separate data frame that contains nine columns: The year and all of the quintiles that you have just calculated.

In [3]:
# Extract the year from the 'datadate' column
import numpy as np
result_df['year'] = pd.to_datetime(result_df['datadate']).dt.year

# Calculate the quintiles for intangibles ratio and market capitalization for each year
quintiles_df = result_df.groupby('year').agg({
    'intangible_assets_ratio': [lambda x: np.percentile(x.dropna(), 20), lambda x: np.percentile(x.dropna(), 40),
                                lambda x: np.percentile(x.dropna(), 60), lambda x: np.percentile(x.dropna(), 80)],
    'market_cap': [lambda x: np.percentile(x.dropna(), 20), lambda x: np.percentile(x.dropna(), 40),
                   lambda x: np.percentile(x.dropna(), 60), lambda x: np.percentile(x.dropna(), 80)]
}).reset_index()

# Flatten the multi-level column names
quintiles_df.columns = ['_'.join(map(str, col)).strip() for col in quintiles_df.columns.values]

# Rename the columns for clarity
quintiles_df.columns = ['year', 'intangible_ratio_q20', 'intangible_ratio_q40', 'intangible_ratio_q60', 'intangible_ratio_q80',
                        'market_cap_q20', 'market_cap_q40', 'market_cap_q60', 'market_cap_q80']

# Display the resulting quintiles data frame
quintiles_df.head()

C:\Users\yachi\AppData\Local\Temp\ipykernel_19152\3243247079.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df['year'] = pd.to_datetime(result_df['datadate']).dt.year

,year,intangible_ratio_q20,intangible_ratio_q40,intangible_ratio_q60,intangible_ratio_q80,market_cap_q20,market_cap_q40,market_cap_q60,market_cap_q80
0,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742

In [ ]:
quintiles_df.to_csv('output_step2d.txt',sep='\t',index=False)

**Step 2(e)**  
Load crsp_dataset_final.txt into a data frame. Merge this data frame with the data frame from **Step 2(d)**, making sure to do the following:
- Each firm-month observation from year *T* in crsp_dataset_final.txt should be matched to quintile values of the intangibles ratio and market capitalization from year *T-1*.
- Decide whether to keep only observations in both data frames OR observations in both data frames and also observations that are only in crsp_dataset_final.txt. When doing so, think carefully about any restrictions to the data that you applied in earlier substeps.

In [4]:
# Load crsp_dataset_final.txt into a data frame
crsp_df = pd.read_csv('C:/Users/yachi/final/Data/crsp_data_final.txt', delimiter='\t')
crsp_df['year'] = pd.to_datetime(crsp_df['date']).dt.year
# Merge with the data frame from Step 2(d)
merged_crsp_df = pd.merge(crsp_df, quintiles_df, how='inner', left_on=['year'], right_on=['year'])

# Display the resulting merged data frame
merged_crsp_df.head()

,date,sic_industry_code,comnam,stock_price,trading_volume,stock_return,gvkey,year,intangible_ratio_q20,intangible_ratio_q40,intangible_ratio_q60,intangible_ratio_q80,market_cap_q20,market_cap_q40,market_cap_q60,market_cap_q80
0,19850131,5812.0,A & M FOOD SERVICES INC,5.000,775.0,0.311475,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742
1,19850228,5812.0,A & M FOOD SERVICES INC,6.000,2222.0,0.200000,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742
2,19850329,5812.0,A & M FOOD SERVICES INC,5.500,2634.0,-0.083333,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742
3,19850430,5812.0,A & M FOOD SERVICES INC,6.125,1941.0,0.113636,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742
4,19850531,5812.0,A & M FOOD SERVICES INC,5.875,432.0,-0.040816,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742

In [ ]:
merged_crsp_df.to_csv('output_step2e.txt',sep='\t',index=False)

**Step 2(f)**    
Sort all firm-month observations into one of 25 portfolios, based on the quintiles of the intangibles ratio and market capitalization. Create a new column in the data frame from **Step 2(e)** that contains a numeric identifier of the portfolio into which each firm-month observation is sorted. 

The portfolios should be defined as follows:

Portfolio 1: Intangibles ratio and market capitalization both in the lowest quintile (i.e., below the 20$^{th}$ percentiles)      
Portfolio 2: Intangibles ratio in the lowest quintile, market capitalization in the second-lowest quintile (i.e., between the 20$^{th}$ and 40$^{th}$ percentiles)     
Portfolio 3: Intangibles ratio in the lowest quintile, market capitalization in the middle quintile (i.e., between the 40$^{th}$ and 60$^{th}$ percentiles)   
...    

Portfolio 6: Intangibles ratio in the second-lowest quintile, market capitalization in the lowest quintile    
Portfolio 7: Intangibles ratio and market capitalization both in the second-lowest quintile    
Portfolio 8: Intangibles ratio in the second-lowest quintile, market capitalization in the middle quintile        
....    

Portfolio 23: Intangibles ratio in the highest quintile, market capitalization in the middle quintile        
Portfolio 24: Intangibles ratio in the highest quintile, market capitalization in the second-highest quintile    
Portfolio 25: Intangibles ratio and market capitalization both in the highest quintile  (i.e., above the 80$^{th}$ percentiles)

In [5]:
# Define the quintile breakpoints for intangibles ratio
intangibles_ratio_bins = [0, quintiles_df['intangible_ratio_q20'].max(), 
                          quintiles_df['intangible_ratio_q40'].max(),
                          quintiles_df['intangible_ratio_q60'].max(),
                          quintiles_df['intangible_ratio_q80'].max(),
                          np.inf]

# Define the quintile breakpoints for market capitalization
market_cap_bins = [0, quintiles_df['market_cap_q20'].max(), 
                   quintiles_df['market_cap_q40'].max(),
                   quintiles_df['market_cap_q60'].max(),
                   quintiles_df['market_cap_q80'].max(),
                   np.inf]

# Create new columns in the merged_crsp_df for the portfolio identifiers
merged_crsp_df['intangibles_portfolio'] = pd.qcut(merged_crsp_df['intangible_ratio_q20'], q=[0, 0.2, 0.4, 0.6, 0.8, 1.0], labels=False, duplicates='drop')
merged_crsp_df['market_cap_portfolio'] = pd.qcut(merged_crsp_df['market_cap_q20'], q=[0, 0.2, 0.4, 0.6, 0.8, 1.0], labels=False, duplicates='drop')

# Combine the intangibles and market cap portfolios to get unique identifiers for each portfolio
merged_crsp_df['portfolio'] = merged_crsp_df['intangibles_portfolio'] * 5 + merged_crsp_df['market_cap_portfolio'] + 1

# Display the resulting data frame with portfolio identifiers
merged_crsp_df.head()

,date,sic_industry_code,comnam,stock_price,trading_volume,stock_return,gvkey,year,intangible_ratio_q20,intangible_ratio_q40,intangible_ratio_q60,intangible_ratio_q80,market_cap_q20,market_cap_q40,market_cap_q60,market_cap_q80,intangibles_portfolio,market_cap_portfolio,portfolio
0,19850131,5812.0,A & M FOOD SERVICES INC,5.000,775.0,0.311475,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742,NaN,NaN,NaN
1,19850228,5812.0,A & M FOOD SERVICES INC,6.000,2222.0,0.200000,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742,NaN,NaN,NaN
2,19850329,5812.0,A & M FOOD SERVICES INC,5.500,2634.0,-0.083333,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742,NaN,NaN,NaN
3,19850430,5812.0,A & M FOOD SERVICES INC,6.125,1941.0,0.113636,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742,NaN,NaN,NaN
4,19850531,5812.0,A & M FOOD SERVICES INC,5.875,432.0,-0.040816,1001,1970,0.000601,0.03013,0.300029,3.719959,17.380344,71.627875,259.68288,1136.94742,NaN,NaN,NaN

In [ ]:
merged_crsp_df.to_csv('output_step2f.txt',sep='\t',index=False)

**Step 2(g)**  
For each portfolio created in **Step 2(f)**, calculate the equal-weighted average monthly stock return across all firms in the portfolio. Create a new data frame that has one observation per month and contains the average monthly returns for the 25 portfolios. This data frame should have 26 columns: The date and the 25 portfolio returns.

In [20]:
# Calculate equal-weighted average monthly stock return for each portfolio
portfolio_returns_df = merged_crsp_df.groupby(['date', 'portfolio']).agg({
    'stock_price': 'mean',
    'trading_volume': 'sum',  # Assuming this is the column representing trading volume
    'intangible_ratio_q20': 'mean',
}).reset_index()

# Calculate monthly returns based on stock prices
portfolio_returns_df['ret'] = portfolio_returns_df.groupby('portfolio')['stock_price'].pct_change()

# Pivot the data frame to have portfolios as columns
portfolio_returns_pivot = portfolio_returns_df.pivot(index='date', columns='portfolio', values='ret')

# Add a column for the total trading volume in each month
portfolio_returns_pivot['total_volume'] = merged_crsp_df.groupby('date')['trading_volume'].sum()

# Calculate equal-weighted average return for each portfolio
for portfolio in range(1, 26):
    mask = portfolio_returns_df['portfolio'] == portfolio
    portfolio_returns_pivot[f'portfolio_{portfolio}_ewar'] = (
        portfolio_returns_df.loc[mask, 'ret'] * portfolio_returns_df.loc[mask, 'trading_volume']
    ).div(portfolio_returns_pivot['total_volume'], axis=0)

# Drop unnecessary columns
portfolio_returns_pivot = portfolio_returns_pivot.drop(columns=['total_volume'])

# Display the resulting data frame
portfolio_returns_pivot.head()

portfolio,portfolio_1_ewar,portfolio_2_ewar,portfolio_3_ewar,portfolio_4_ewar,portfolio_5_ewar,portfolio_6_ewar,portfolio_7_ewar,portfolio_8_ewar,portfolio_9_ewar,portfolio_10_ewar,...,portfolio_16_ewar,portfolio_17_ewar,portfolio_18_ewar,portfolio_19_ewar,portfolio_20_ewar,portfolio_21_ewar,portfolio_22_ewar,portfolio_23_ewar,portfolio_24_ewar,portfolio_25_ewar
date,,,,,,,,,,,,,,,,,,,,,
1970-01-01 00:00:00.019800131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.019800229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.019800331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.019800430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.019800530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
portfolio_returns_pivot.to_csv('output_step2g.txt',sep='\t',index=False)

**Step 2(h)**    
For each of the 25 portfolios, calculate the average return over all months from January 1980 through December 1999. Enter these values into Panel A of Table 1 below. Next, calculate the portfolio's average return over all months from January 2000 through December 2019, and enter those values into Panel B of the table.

Then, interpret the stock return patterns in each panel. In particular, is there evidence that larger values of the intangibles_ratio are associated with higher stock retuns? If yes, does this association change over time?

In [39]:
# Assuming portfolio_returns_pivot is the dataframe from the previous step

# Define the date ranges for Panel A and Panel B
panel_a_start = '1980-01-01'
panel_a_end = '1999-12-31'
panel_b_start = '2000-01-01'
panel_b_end = '2019-12-31'

# Filter data for Panel A and Panel B
panel_a_data = portfolio_returns_pivot.loc[(portfolio_returns_pivot.index >= panel_a_start) & (portfolio_returns_pivot.index <= panel_a_end)]
panel_b_data = portfolio_returns_pivot.loc[(portfolio_returns_pivot.index >= panel_b_start) & (portfolio_returns_pivot.index <= panel_b_end)]

# Calculate average return for each portfolio in Panel A and Panel B
average_returns_panel_a = panel_a_data.mean()
average_returns_panel_b = panel_b_data.mean()

# Display Panel A and Panel B
print("Panel A - Average Returns (Jan 1980 - Dec 1999):")
print(average_returns_panel_a)

print("\nPanel B - Average Returns (Jan 2000 - Dec 2019):")
print(average_returns_panel_b)

Panel A - Average Returns (Jan 1980 - Dec 1999):
portfolio
portfolio_1_ewar    NaN
portfolio_2_ewar    NaN
portfolio_3_ewar    NaN
portfolio_4_ewar    NaN
portfolio_5_ewar    NaN
portfolio_6_ewar    NaN
portfolio_7_ewar    NaN
portfolio_8_ewar    NaN
portfolio_9_ewar    NaN
portfolio_10_ewar   NaN
portfolio_11_ewar   NaN
portfolio_12_ewar   NaN
portfolio_13_ewar   NaN
portfolio_14_ewar   NaN
portfolio_15_ewar   NaN
portfolio_16_ewar   NaN
portfolio_17_ewar   NaN
portfolio_18_ewar   NaN
portfolio_19_ewar   NaN
portfolio_20_ewar   NaN
portfolio_21_ewar   NaN
portfolio_22_ewar   NaN
portfolio_23_ewar   NaN
portfolio_24_ewar   NaN
portfolio_25_ewar   NaN
dtype: float64

Panel B - Average Returns (Jan 2000 - Dec 2019):
portfolio
portfolio_1_ewar    NaN
portfolio_2_ewar    NaN
portfolio_3_ewar    NaN
portfolio_4_ewar    NaN
portfolio_5_ewar    NaN
portfolio_6_ewar    NaN
portfolio_7_ewar    NaN
portfolio_8_ewar    NaN
portfolio_9_ewar    NaN
portfolio_10_ewar   NaN
portfolio_11_ewar   NaN
portfolio_12_ewar   NaN
portfolio_13_ewar   NaN
portfolio_14_ewar   NaN
portfolio_15_ewar   NaN
portfolio_16_ewar   NaN
portfolio_17_ewar   NaN
portfolio_18_ewar   NaN
portfolio_19_ewar   NaN
portfolio_20_ewar   NaN
portfolio_21_ewar   NaN
portfolio_22_ewar   NaN
portfolio_23_ewar   NaN
portfolio_24_ewar   NaN
portfolio_25_ewar   NaN
dtype: float64

<div class="alert alert-block alert-warning">
Answer by double clicking this window and filling out the cells in the table below. In that table, [Portfolio N] refers to the average return of Portfolio N across all months in the period. Also, INT is an abbreviation for intangibles_ratio.
    <br><br>

**Table 1, Panel A. Average Portfolio Returns from 1980--1999**    
    
| Quintiles of Size \ Quintiles of INT | 1 = Lowest INT         | 2            | 3             | 4            |5 = Highest INT            |
|:-------------------------------------|:----------------------:|:------------:|:-------------:|:-----------:|:-------------------------:|
|**1 = Lowest Size**                   |[Portfolio 1]           |[Portfolio 6] |[Portfolio 11]  |[Portfolio 16] | [Portfolio 21] |
|**2**                                 |[Portfolio 2]           |[Portfolio 7] |[Portfolio 12]  |[Portfolio 17] | [Portfolio 22] |
|**3**                                 |[Portfolio 3]           |[Portfolio 8] |[Portfolio 13]  |[Portfolio 18] | [Portfolio 23] |    
|**4**                                 |[Portfolio 4]           |[Portfolio 9] |[Portfolio 14]  |[Portfolio 19] | [Portfolio 24] |
|**5 = Highest Size**                  |[Portfolio 5]           |[Portfolio 10]|[Portfolio 15]  |[Portfolio 20] | [Portfolio 25] |    

    
**Table 1, Panel B. Average Portfolio Returns from 2000--2019**    

| Quintiles of Size \ Quintiles of INT | 1 = Lowest INT         | 2            | 3             | 4            |5 = Highest INT            |
|:-------------------------------------|:----------------------:|:------------:|:-------------:|:-----------:|:-------------------------:|
|**1 = Lowest Size**                   |[Portfolio 1]           |[Portfolio 6] |[Portfolio 11]  |[Portfolio 16] | [Portfolio 21] |
|**2**                                 |[Portfolio 2]           |[Portfolio 7] |[Portfolio 12]  |[Portfolio 17] | [Portfolio 22] |
|**3**                                 |[Portfolio 3]           |[Portfolio 8] |[Portfolio 13]  |[Portfolio 18] | [Portfolio 23] |    
|**4**                                 |[Portfolio 4]           |[Portfolio 9] |[Portfolio 14]  |[Portfolio 19] | [Portfolio 24] |
|**5 = Highest Size**                  |[Portfolio 5]           |[Portfolio 10]|[Portfolio 15]  |[Portfolio 20] | [Portfolio 25] | 
    
</div>

<div class="alert alert-block alert-warning">
Click on this box and type your interpretation of the table. 
</div>

**Step 2(i)**    
Load factor_data.txt into a data frame. Merge this data frame with the data frame created in **Step 2(g)**. Convert all portfolio returns into percentages, and subtract the risk-free rate from each portfolio return.

In [ ]:
## ENTER YOUR CODE IN THIS BOX

**Step 2(j)**    
For each of the 25 portfolios, regress the monthly returns (net of risk-free rate) on the three factors, over all months from January 1980 through December 1999. For each regression, store the estimated intercept (i.e., the alpha) and the intercept's p-value in a data frame. Next, re-estimate the same regressions over all months from January 2000 through December 2019, and store those alphas and p-values in the same data frame. This data frame should contain five columns: The portfolio number, the portfolio's alpha over the 1980--1999 period, the p-value of the portfolio's intercept over the 1980--1999 period, the portfolio's alpha over the 2000-2019 period, and the p-value of the portfolio's intercept over the 2000--2019 period. Print this data frame to an output file, and upload this file as part of your final submission.

In [ ]:
## ENTER YOUR CODE IN THIS BOX

**Step 2(k)**    
Enter the alphas estimated over the 1980--1999 period into Panel A of Table 2 below, and enter the alphas estimated over the 2000--2019 period into Panel B. Also, place an asterix * next to any alpha that has a p-value less than 0.05.

Then, interpret the alphas in each panel. How many portfolios outperform the expected return based on the Fama-French 3-factor model? Is there any correlation between portfolio outperformance and the level of the intangibes ratio? If yes, does this correlation change over time?

<div class="alert alert-block alert-warning">
Answer by double clicking this window and filling out the cells in the table below. In that table, [Portfolio N] refers to the regression intercept for Portfolio N, estimated across all months in the period. Also, INT is an abbreviation for intangibles_ratio.
    <br><br>

**Table 2, Panel A. Portfolio Alphas from 1980--1999**    
    
| Quintiles of Size \ Quintiles of INT | 1 = Lowest INT         | 2            | 3             | 4            |5 = Highest INT            |
|:-------------------------------------|:----------------------:|:------------:|:-------------:|:-----------:|:-------------------------:|
|**1 = Lowest Size**                   |[Portfolio 1]           |[Portfolio 6] |[Portfolio 11]  |[Portfolio 16] | [Portfolio 21] |
|**2**                                 |[Portfolio 2]           |[Portfolio 7] |[Portfolio 12]  |[Portfolio 17] | [Portfolio 22] |
|**3**                                 |[Portfolio 3]           |[Portfolio 8] |[Portfolio 13]  |[Portfolio 18] | [Portfolio 23] |    
|**4**                                 |[Portfolio 4]           |[Portfolio 9] |[Portfolio 14]  |[Portfolio 19] | [Portfolio 24] |
|**5 = Highest Size**                  |[Portfolio 5]           |[Portfolio 10]|[Portfolio 15]  |[Portfolio 20] | [Portfolio 25] |    

    
**Table 2, Panel B. Portfolio Alphas from 2000--2019**    

| Quintiles of Size \ Quintiles of INT | 1 = Lowest INT         | 2            | 3             | 4            |5 = Highest INT            |
|:-------------------------------------|:----------------------:|:------------:|:-------------:|:-----------:|:-------------------------:|
|**1 = Lowest Size**                   |[Portfolio 1]           |[Portfolio 6] |[Portfolio 11]  |[Portfolio 16] | [Portfolio 21] |
|**2**                                 |[Portfolio 2]           |[Portfolio 7] |[Portfolio 12]  |[Portfolio 17] | [Portfolio 22] |
|**3**                                 |[Portfolio 3]           |[Portfolio 8] |[Portfolio 13]  |[Portfolio 18] | [Portfolio 23] |    
|**4**                                 |[Portfolio 4]           |[Portfolio 9] |[Portfolio 14]  |[Portfolio 19] | [Portfolio 24] |
|**5 = Highest Size**                  |[Portfolio 5]           |[Portfolio 10]|[Portfolio 15]  |[Portfolio 20] | [Portfolio 25] | 
    
</div>

<div class="alert alert-block alert-warning">
Click on this box and type your interpretation of the table. 
</div>

**Challenge Exercises**    
The below exercises are intended for students who wish to earn a grade above 9,0 on the final assignment (i.e., to earn an A+). They should be possible to complete with the computing knowledge and syntax taught in the course. However, the exercises are more challenging and can take significantly more time.

Students who do not attempt the challenge exercises can receive a grade of up to 9,0 on their final assignment. Students who make a serious attempt at the challenge exercises will receive a bonus of up to 1,0 points on the final assignment. The bonus is awarded even to students who do not correctly complete all of the main steps of the final assignment. However, no bonus is awarded to students who do not attempt at least half of the main steps. (The bonus is calculated one time over all of the challenge exercises in this assignment.)

The exercises for **Step 2** are:
- In **Step 2(g)**, construct weighted-average portfolio returns instead of equal-weighted returns. For weights, use each firm's total_assets.
- Some researchers argue that the *HML* factor has become less important for firms' expected stock returns over time, due to the rising usage of intangible assets. Read briefly about changes to the *HML* factor over time and summarize the argument. Then, repeat **Steps 2(f)** through **2(h)** by sorting portfolio using intangibles_ratio and the book equity/market equity measure (instead of market capilization itself). In **Step 2(h)**, do the return patterns for portfolios with high versus low values of intangibles_ratio change significantly?
- Read only the introduction of the paper "A five-factor asset pricing model" by Eugene Fama and Ken French, published in 2015 in the *Journal of Financial Economics* (Volume 116). This paper explains the theory behind the 5-Factor model, which is a proposed update to the 3-Factor model from 1993. Then, repeat **Steps 2(i)** through **2(k)** using a 5-factor model. You can obtain data on the 5 factors here: https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html

<div class="alert alert-block alert-warning">
Click on this box and type your answers. 
</div>

In [ ]:
## ENTER YOUR CODE IN THIS BOX

## Step 3. Preparing Data for a Pairs Trading Strategy

**Objective:** One simple example of a convergence arbitrage strategy is Pairs Trading. For this strategy, a fund identifies two or more securities that are closely related to each other. Theoretically, the securities' prices should co-move in the same direction over time, due to their similarities. The securities *might not* have exactly the same price, but the difference in their prices should be relatively stable over time. The strategy works by (i) identifying the securities; (ii) measuring the difference in their prices during "normal" trading periods; (iii) identifying any points in time where the difference in prices significantly deviates from the usual amount; and (iv) implementing a zero-net-cost arbitrage trade that earns a profit if the difference in prices shrinks back to the usual amount.  

In this step, you will prepare data for implementing a Pairs Trading strategy using corporate bonds. Specifically, you will combine several datasets that contain bond-level and firm-level information, and then you will identify groups of similar bonds that could be used in Pairs Trading. The purpose is to understand the underlying data work that must be completed, before a precise trading strategy can be designed.

**Note:** For this step you can use Pandas, but are not required to.

**Getting Started**: To complete this part, you will need these files:
- bond_descriptions.txt, which contains information on individual bonds issued by U.S. firms in the TRACE dataset which are at traded at least occassionally. 
   - In this file, unsecured_indicator identifies whether or not the bond is backed by some collateral, which investors can receive and re-sell in case of bankruptcy.
   - junior_indicator identifies whether or not the bond is junior in the priority order. In bankruptcy, these bonds are paid out only if sufficient cash is left after paying out senior bonds.
   - convertible_indicator identifies whether or not the bond can be converted to equity, at the choice of the firm.
- trace_linkfile.txt, which contains indicators matching individual bonds to the Compustat GVKEY of the firm that issued them
- bond_rating.txt, which contains credit ratings of firms in the Compustat dataset

**To Complete:**
- Fill in all code boxes
- Fill in all answer boxes.
- Submit the output file created in **Step 3(f)**.

**Step 3(a)**     
Open bond_descriptions.txt with any program and examine the dataset. What does each observation represent, and what variable(s) uniquely identify it? How much variation exists among the bonds in terms of secured status, priority order, or convertibility?

<div class="alert alert-block alert-warning">
Click on this box and type your answers. 
</div>

**Step 3(b)**     
Restrict bond_descriptions.txt to only those bonds that are issued on January 1, 2005 or later. Next, combine bond_descriptions.txt with the identifying variables in trace_linkfile.txt. Decide whether to keep only observations that are in both files OR observations that are in both files plus observations that are only in trace_linkfile.txt. Briefly explain your choice in a comment in the code box below.

In [ ]:
## ENTER YOUR CODE IN THIS BOX

**Step 3(c)**     
Next, add the firm's credit rating at the time of the bond's issuance to the modified dataset. First, open bond_ratings.txt with any program and examine the dataset. What variable(s) uniquely identify each observation? Explain briefly how you can merge the credit ratings with the bond's issuance date. Then, write the code to execute the merge.

<div class="alert alert-block alert-warning">
Click on this box and type your explanation of the merge process. 
</div>

In [ ]:
## ENTER YOUR CODE IN THIS BOX

**Step 3(d)**     
Now, begin your search for bonds that are similar to each other. Start by grouping bonds that are issued in the same calendar month and by firms in the same industry. For example, one group could contain all bonds issued in March 2005 by firms in the Insurance industry. Then, write a script that can count the number of unique bonds in each group. Are there some groups with at least three bonds issued in the same month and industry? Are there any groups with at least 10 bonds? 

**Hint:** If you are using Pandas, then this step can be solved with a command that we did not cover in class. This documentation may help: https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.count.html#pandas.core.groupby.DataFrameGroupBy.count

In [ ]:
## ENTER YOUR CODE IN THIS BOX

**Step 3(e)**     
Consider a "pairs trading" strategy that involves bonds issued in the same calendar month by firms in the same industry. Such a strategy is only effective if the bonds involved in the trade are highly similar to each other, in terms of characteristics that matter for bond pricing. Explain the advantage of using a pairs trading strategy based on month and industry, over a strategy that compares all bonds issued in the same calendar month (without considering industry). Also, state one or two other factors that are unaccounted for in this strategy, and explain how they might affect bond pricing.

<div class="alert alert-block alert-warning">
Click on this box and type your answers. 
</div>

**Step 3(f)**     
Consider a "pairs trading" strategy that involves bonds issued in the same calendar month by firms in the same industry AND that also share one other similarity that matters for bond pricing. Briefy state the similarity that you chose in a comment in the code box below. Then, repeat **Step 3(d)** for the new pairs trading strategy. 

Further, create an output file that includes at least two columns: An identifier for each group, and the number of bonds in the group. Upload this file as part of your final submission.

In [ ]:
## ENTER YOUR CODE IN THIS BOX

**Step 3(g)**     
In **Steps 3(d)** and **3(f)** above, you counted the number of unique bonds per group. It may also be useful to determine whether the bonds in each group are all issued by the same firm, or whether the group contains bonds issued by multiple firms. Write a script that can determine this.

In [ ]:
## ENTER YOUR CODE IN THIS BOX

**Step 3(h)**     
Suppose you have a dataset of all bond trades, which includes the bond_sym_id identifier, the time and date of the trade, and the price and yield at which each bond is traded. Consider the "pairs trading" strategy devised in **Step 3(f)**, and suppose that you use a group that contains two bonds. (You don't need to consider whether they are issued by the same firm.) Provide a written set of instructions for how you could determine whether the two bonds' prices deviate from each other, in such a way that an arbitrage trade may be possible. Make the instructions highly detailed, so that they could be easily converted into a Python script.

<div class="alert alert-block alert-warning">
Click on this box and type your answers. 
</div>

**Challenge Exercises**    
The below exercises are intended for students who wish to earn a grade above 9,0 on the final assignment (i.e., to earn an A+). They should be possible to complete with the computing knowledge and syntax taught in the course. However, the exercises are more challenging and can take significantly more time.

Students who do not attempt the challenge exercises can receive a grade of up to 9,0 on their final assignment. Students who make a serious attempt at the challenge exercises will receive a bonus of up to 1,0 points on the final assignment. The bonus is awarded even to students who do not correctly complete all of the main steps of the final assignment. However, no bonus is awarded to students who do not attempt at least half of the main steps. (The bonus is calculated one time over all of the challenge exercises in this assignment.)

The exercises for **Step 3** are:
- Repeat **Step 3(d)**, except this time create groups of bonds that are issued within 15 calendar days of each other and by firms in the same industry. For example, one group could contain all bonds issued between February 20, 2005 and March 7, 2005 by firms in the Insurance industry.
- Write a script to implement the proposed strategy from **Step 3(h)**. Contact t.ladika@uva.nl by December 15 to request the full dataset on bond trades.

In [ ]:
## ENTER YOUR CODE IN THIS BOX